body{
    font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
margin:0;
}


.menu ul{
 margin:0;
 background-color:red;
 list-style: none;
}

.menu ul li{
display :inline;
}

.menu ul li a{

    padding: 10px 10px;
    display: inline-block;
    color: white;

}